/* 页面宽度 */
/* 页面顶部高度 */
/* 顶部logo高度 */
/* 顶部导航高度 */
/* 顶部大图宽度 */
/* 顶部大图高度 */
#dlroom .dl-header {
  width: 100%;
  margin: 0 auto;
  height: 600px;
}
#dlroom .dl-header .header-top {
  width: 100%;
  height: 112px;
  overflow: hidden;
  background: url("../images/header_bg.jpg") no-repeat center center;
}
#dlroom .dl-header .header-nav {
  height: 43px;
  background: #000000;
}
#dlroom .dl-header .header-nav .ink-navigation {
  width: 1000px;
  height: 43px;
  margin: 0 auto;
}
#dlroom .dl-header .lunbo {
  width: 100%;
}
#dlroom .dl-header .lunbo .big-image img {
  width: 1263px;
  height: 383px;
}
#dlroom .dl-header .header-footer {
  background: #f5f5f5;
  width: 100%;
  height: 90px;
  padding-top: 20px;
}
#dlroom .dl-header .header-footer .sedai {
  background: url("../images/color.gif") no-repeat;
  width: 1000px;
  height: 23px;
  margin: 0px auto;
}
#dlroom .dl-news {
  width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
}
#dlroom .dl-news h5 {
  height: 40px;
}
#dlroom .dl-news .big-image {
  width: 450px;
  height: 250px;
  float: left;
  margin-top: 0;
}
#dlroom .dl-news .big-image img {
  width: 430px;
  height: 230px;
}
#dlroom .dl-news .news-list {
  width: 530px;
  float: right;
  list-style: none;
}
#dlroom .dl-news .news-list .news-item {
  height: 80px;
}
#dlroom .dl-news .news-list .news-item .time-image {
  width: 80px;
  height: 70px;
  float: left;
}
#dlroom .dl-news .news-list .news-item .time-image img {
  width: 80px;
  height: 70px;
}
#dlroom .dl-news .news-list .news-item .news-meta {
  float: left;
  width: 400px;
  margin-left: 10px;
}
#dlroom .dl-news .news-list .news-item .news-meta .news-title {
  font-weight: bold;
}
#dlroom .dl-news .news-list .news-item .news-meta .news-info {
  padding-top: 5px;
  font-size: 14px;
}
#dlroom .showcase {
  width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
}
#dlroom .showcase h5 {
  font-size: 30px;
}
#dlroom .showcase .image-blocks {
  margin-top: 5px;
}
#dlroom .showcase .images-item {
  float: left;
  padding-right: 5px;
  position: relative;
  margin-top: 10px;
  width: 250px;
  height: 326px;
}
#dlroom .showcase .images-item img {
  width: 240px;
  height: 326px;
}
#dlroom .showcase .images-item .over-bottom {
  position: absolute;
  width: 240px;
  height: 50px;
  bottom: 0;
  line-height: 2;
  color: #ffffff;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
}
#dlroom .showcase .big-image img {
  width: 995px;
}
#dlroom .index-block {
  width: 1000px;
  margin: 0 auto;
}
#dlroom .index-block .image-block-small .image-item-small {
  width: 195px;
  margin-right: 5px;
  float: left;
  position: relative;
}
#dlroom .index-block .image-block-small .image-item-small img {
  width: 190px;
  height: 142px;
}
#dlroom .index-block .image-block-small .image-item-small .over-bottom {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 190px;
  height: 30px;
  color: #ffffff;
  text-align: center;
  line-height: 1.8;
}
#footer {
  width: 100%;
  min-height: 40px;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  background: #f0f0f0;
}
#footer .title {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  line-height: 2.4;
}
#footer .content-area {
  width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
}
#footer .content-area .content-list {
  width: 700px;
  min-height: 200px;
  float: left;
}
#footer .content-area .content-list .item {
  width: 200px;
  float: left;
}
#footer .content-area .erweima {
  width: 240px;
  float: right;
  text-align: center;
}
#footer .content-area .erweima img {
  width: 200px;
}
