.text-overflow-ellipsis{
	text-overflow:ellipsis;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;/* Opera */
	-moz-binding: url("ellipsis.xml#ellipsis");/*FireFox*/
}
.article-list{
	display: block;
	margin-top: 5px;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	.content{
		float: left;
		margin-left: 10px;
		padding: 5px;
		.title{
			width: 500px;
			overflow:hidden;
			font-size: 16px;
			white-space: nowrap;
			.text-overflow-ellipsis;
			a{
				color: #353535;
			}
		}
		.intro{
			width: 500px;
			font-size: 14px;
			text-indent: 20px;
			line-height: 1.5;
		}
	}
	.picture{
		float: left;
		img{
			width: 100px;
			height: 100px;
		}
	}
}

.article{
	h5{
	}
	.category, .tags{
		font-size: 10px;
		font-weight: normal;
		margin: 10px;
	}

	.info{
		margin-left: 20px;
		margin-top: 10px;
		font-size: 14px;
		margin-bottom: 10px;
	}
	.tags{
		font-size: 14px;
		margin-left: 20px;
		span{
			margin-left: 10px;
		}
		label{
			font-weight: bold;
		}
	}
	.content{
		width: 670px;
	}
}
.comments{
	margin-top: 10px;
}
.footer {
	width: 100%;
	line-height: 1.6em;
	font-size: 1em;
	padding: 0.5333333333333333em 0.8em;
	background: rgba(0, 0, 0, 0.7);
	z-index: 100;
	text-align: center;
	min-height: 100px;
	border-top: 3px solid #71b43a;
	.title,ul {
		color: white;
		text-shadow: 0 1px 0 #000000;
	}
	.title {
		font-size: inherit;
		line-height: inherit;
		text-transform: uppercase;
		font-weight: 500;
		float: none;
		a{
			color: white;
		}
	}
	ul {
		float: right;
		margin: 0;
		padding: 0;
		line-height: inherit !important;
		li {
			padding: 0;
			margin: 0;
			text-transform: uppercase;
			font-weight: bold;
			font-size: inherit !important;
			&.small{
				color: #80c431;
			}
			&.medium{
				color: #80c431;
			}
			&.large{
				color: #80c431;
			}
			&.extra-large{
				color: #80c431;
			}
		}
	}
	
	.ft-body{
		width: 961px;
		margin: auto;
		.ftb-col{
			float: left;
			width: 200px;
			margin: 10px;
			text-align: left;
			h4{
				font-size: 16px;
				color: white;
				margin-bottom: 10px;
			}
			li{
				list-style: none;
				a{
					color: white;
					font-size: 14px;
				}
			}
		}
	}
}

.ink-clear{
	clear: both;
}