@login-area-width: 550px;
@login-area-height: 500px;
@left-area-width: 770px;
@right-area-width: 340px;
.white-box{
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 3px 0 #dddddd;
	-moz-box-shadow: 0 2px 3px 0 #dddddd;
	box-shadow: 0 2px 3px 0 #dddddd;
	border: 1px solid #BBB;
	background-color: #FFF;
	padding: 1em;
}

#header {
	h1 {
	    font-size: 2em;
		margin-top: 20px;
		img{
			max-width: 220px;
		}
		small:before  {
		    content: "|";
		    margin: 0 0.5em;
		    font-size: 1.6em;
		}
	}
}
#main{
	max-width: 961px;
	padding: 0;
	#sliderPlay{
		width: 961px!important;
		img{
			width: 961px;
			height: 376px;
		}
	}
	.new-product, .new-activy{
		
		margin: 10px 0;
		padding: 5px;
		.np-title, .na-title{
			border-bottom: 2px solid #050505;
			padding-bottom: 5px;
		}
		.np-body{
			img{
				width: 250px;
				padding: 5px;
				height: 230px;
			}
		}
		.na-body{
			.na-block{
				position: relative;
				float: left;
				img{
					width: 218px;
					height: 144px;
					padding: 10px;
				}
				.nab-title{
					color: white;
					background: rgba(0, 0, 0, 0.84);
					position: absolute;
					top: -11px;
					left: 10px;
					width: 198px;
					font-size: 14px;
					overflow:hidden; 
					text-overflow:ellipsis; 
					white-space:nowrap;
					padding: 5px;
					a{
						color: white;
					}
				}
			}
		}
	}
	.new-product{
		width: 280px;
	}
	.new-activy{
		width: 671px;
		margin-left: 10px;
	}
	
}
