<c:include file="@templates/header" />
<div>
	<c:func func="Demo.index_lunbo()" />
	<div>
		<div class="new-product push-left">
			<div class="np-title">本周咖啡<a class="more" href="{func:.Demo.url("articles/lists/14.html")}">More...</a></div>
			<div class="np-body">
				<c:set var="_new_good" value=".Demo.new_blog(14)" />
				<c:if test="is_array($_new_good) && count($_new_good) gt 0" >
					<img src="{func:.Demo.url($_new_good[0]['feature_img'] == '' ? 'Resources/uploads/noimg.jpg': $_new_good[0]['feature_img'])}" />
					<p>
						<a href="{func:.Demo.url("articles/show/{$_new_good[0]['id']}.html" )}">
							<c:out value="$_new_good[0]['title']" />
						</a>
					</p>
				</c:if>
			</div>
		</div>
		<div class="new-activy pull-left">
			<div class="na-title">CD推荐<a class="more" href="{func:.Demo.url('articles/lists/15.html')}">More...</a></div>
			<c:set var="_new_activys" value=".Demo.new_blog(15, 8)" />
			<div class="na-body">
				<c:loop items="$_new_activys" var="_av" index="_ak">
					<div class="na-block">
						<img src="{func:.Demo.url($_av['feature_img'] == '' ? 'Resources/uploads/noimg.jpg': $_av['feature_img'])}" title="${_av['title']}"/>
						<div class="nab-title">
							<a href="{func:.Demo.url("articles/show/{$_av['id']}.html")}" title="${_av['title']}">
								<c:out value="$_av['title']" />
							</a>
						</div>
						<div class="ink-clear"></div>
					</div>
				</c:loop>
			</div>
		</div>
	</div>
	<div class="ink-clear"></div>
	<div class="ad"><!-- 底部广告部分 -->
		<a href="http://www.letv.com" target="_blank" title="乐视网"><img src="{func:.Demo.url('Resources/uploads/leshi.jpg')}" /></a>
		<a href="http://www.mingyangyingshi.com" target="_blank" title="青岛名扬影视传播有限公司"><img src="{func:.Demo.url('Resources/uploads/mingyang.jpg')}" /></a>
		<a href="http://www.chinawpc.com.cn" target="_blank" title="山东邹平三立特木塑复合材料有限公司"><img src="{func:.Demo.url('Resources/uploads/sanlite.jpg')}" /></a>
		<a href="http://www.csia.cc" target="_blank" title="中国创业咖啡联盟"><img src="{func:.Demo.url('Resources/uploads/csia.jpg')}" /></a>
		<a href="http://www.cntv.cn" target="_blank" title="中国网络电视台"><img src="{func:.Demo.url('Resources/uploads/cntv.jpg')}" /></a>
	</div>
</div>
<script>
require(['page/home'], function(home){
	home.slider_play();
});
</script>
<c:include file="@templates/footer" />