<c:include file="@templates/header" />
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<div id="main-left">
	<c:func func="Blog.breadcrumbs(isset($breadcrumbs) ? $breadcrumbs:array())" />
	<div class="article">
		<h5 class="title"><span class="ink-label success invert">
                    	<c:if test="$article['source'] neq '' ">
                            [ <c:out value="$article['source']" /> ]
                        </c:if>
                    </span> ${article['title']}</h5>
		<div class="info">( ${article['author']} 发布于 {func:date('Y-m-d', $article['publish_date'])} 
			<span class="ds-thread-count" data-thread-key="art_${article['id']}" data-count-type="comments"></span> )
		</div>
		<c:if test="isset($article['tag']) && count($article['tag']) gt 0">
			<div class="tags">
				<c:loop items="$article['tag']" var="v">
					<c:out value="$v['name']" />
				</c:loop>
			</div>
		</c:if>
		<div class="intro">${article['intro']}</div>
		<div class="content">
			<c:if test="$article['model'] eq 'markdown' ">
				<?php 
					$markdown = \Arsenals\Core\Registry::load('\\Common\\MarkdownParser');
					echo $markdown->parse($article['content']);
				?>
			<c:else />
				${article['content']}
			</c:if>
		</div>
		<c:if test="isset($article['cate']) && count($article['cate']) gt 0">
			<div class="category">
			所属分类： 
				<c:loop items="$article['cate']" var="v" >
					<span class='ink-badge black'>${v['name']}</span> 
				</c:loop>
			</div>
		</c:if>
	</div>
    <div class="share-area">
    	<wb:share-button appkey="4tg0Ag" addition="full" type="button" ralateUid="2508316741"></wb:share-button>
    </div>
	<div class="remark-area">
		<c:func func="Blog.remark($article['id'])" />
        <div class="right-img">

            {func:Blog.relate_article($article, 8)}
            <script>
                var aliyun_recommend_opts={
                    'url':'http://aicode.cc/article/${article['id']}.html', //网页的永久链接
                    'title':'${article['title']}', //网页的标题
                    'thumb':'${article['feature_img']}', //网页的主题图片地址
                    'tags':'{func:Blog.tags_str($article['tag'])}' //网页的关键词，多个时用英文逗号分割
                };
            </script>
            <script  type="text/javascript" c="gd"  charset="utf-8"  src="http://tui.cnzz.net/cs.php?id=1000077408"></script>
        </div>
    </div>
</div>



<c:include file="@templates/footer" />