<c:include file="@templates/header" />
<div id="main-left">
	<c:func func="Blog.breadcrumbs(isset($breadcrumbs) ? $breadcrumbs:array())" />
	<div class="article">
		<h5 class="title">${article['title']}</h5>
		<div class="info">( ${article['author']} 发布于 {func:date('Y-m-d', $article['publish_date'])} 
			<span class="ds-thread-count" data-thread-key="art_${article['id']}" data-count-type="comments"></span> )
		</div>
		<c:if test="isset($article['tag']) && count($article['tag']) gt 0">
			<div class="tags">
				<c:loop items="$article['tag']" var="v">
					<c:out value="$v['name']" />
				</c:loop>
			</div>
		</c:if>
		<div class="intro">${article['intro']}</div>
		<div class="content">${article['content']}</div>
		<c:if test="isset($article['cate']) && count($article['cate']) gt 0">
			<div class="category">
			所属分类： 
				<c:loop items="$article['cate']" var="v" >
					<span class='ink-badge black'>${v['name']}</span> 
				</c:loop>
			</div>
		</c:if>
	</div>
	<div class="remark-area">
		<c:func func="Blog.remark($article['id'])" />
        <div class="right-img">
            <iframe width="100%" height="400" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=400&fansRow=1&ptype=1&speed=50&skin=1&isTitle=0&noborder=0&isWeibo=1&isFans=0&uid=2508316741&verifier=1d07a1a0&dpc=1"></iframe>
        </div>
    </div>
</div>
<c:include file="@templates/footer" />