<c:include file="common/header" />
<c:set var="tmpl_resources_url" value="Dlroom.resource_path()" />
<div id="dlroom">
    <div class="dl-header">
        <div class="header-top">

        </div>
        <div class="header-nav">
            <div class="ink-navigation">
                <ul class="menu horizontal black"">
                <li><a href="">官方首页</a></li>
                <li><a href="">关于我们</a></li>
                <li><a href="">最新优惠</a></li>
                <li><a href="">作品展示</a></li>
                <li><a href="">服务报价</a></li>
                <li><a href="">客片欣赏</a></li>
                <li><a href="">粉丝留言</a></li>
                </ul>
            </div>
        </div>
        <div class="lunbo">
            <div class="big-image">
                <img src="${tmpl_resources_url}images/lunbo.jpg" />
            </div>
        </div>
        <div class="header-footer">
            <div class="sedai"></div>
        </div>
    </div>
    <div class="dl-news">
        <h5>那种颜色是你的风格？</h5>
        <div class="big-image">
            <img src="${tmpl_resources_url}images/2014051250795233.jpg">
        </div>
        <div class="news-list">
            <c:set var="new_blog" value="Dlroom.new_blog('', 3)" />
            <c:loop items="$new_blog" var="b">
                <li class="news-item">
                    <div class="time-image"><img src="${b['feature_img']}" /></div>
                    <div class="news-meta">
                        <div class="news-title">${b['title']}</div>
                        <div class="news-info">${b['intro']}</div>
                    </div>
                    <div class="ink-clear"></div>
                </li>
            </c:loop>

        </div>
        <div class="ink-clear"></div>
    </div>
    <div class="showcase">
        <h5>Showcase</h5>
        <div class="image-blocks">
            <c:set var="showcaseImages" value="Dlroom.loadPhotos('showcase', 8)" />
            <c:loop items="$showcaseImages" var="sc">
                <div class="images-item ink-image">
                    <img src="${sc['url']}" class="imagequery"/>
                    <div class="over-bottom">
                        ${sc.title}
                    </div>
                </div>
            </c:loop>
            <div class="ink-clear"></div>
        </div>
        <div class="big-image">
            <img src="${tmpl_resources_url}images/2.jpg"/>
        </div>
    </div>
    <div class="index-block">
        <h5>最新推荐</h5>
        <div class="image-block-small">
            <c:set var="tuijianImages" value="Dlroom.loadPhotos('推荐', 5)" />
            <c:loop items="$tuijianImages" var="i">
                <div class="image-item-small">
                    <img src="${i.url}">
                    <div class="over-bottom">${i.title}</div>
                </div>
            </c:loop>
            <div class="ink-clear"></div>
        </div>
    </div>
</div>
<c:include file="common/footer" />