<c:set var="tmpl_resources_url" value="Dlroom.resource_path()" />
<div class="footer"  id="footer">
    <div class="content-area">
        <div class="content-list">
            <div class="item">
                <h5>服务报价</h5>
                <ul>
                    <li>婚纱套系</li>
                    <li>婚纱套系</li>
                    <li>婚纱套系</li>
                    <li>婚纱套系</li>
                </ul>
            </div>
            <div class="item">
                <h5>服务报价</h5>
                <ul>
                    <li>婚纱套系</li>
                    <li>婚纱套系</li>
                    <li>婚纱套系</li>
                    <li>婚纱套系</li>
                </ul>
            </div>
            <div class="item">
                <h5>服务报价</h5>
                <ul>
                    <li>婚纱套系</li>
                    <li>婚纱套系</li>
                    <li>婚纱套系</li>
                    <li>婚纱套系</li>
                </ul>
            </div>
            <div class="ink-clear"></div>
        </div>
        <div class="erweima">
            <img src="${tmpl_resources_url}images/erweima.jpg">
            <p>关注微信公众平台</p>
        </div>
        <div class="ink-clear"></div>
    </div>
    <div class="title">
        <a href="http://www.miitbeian.gov.cn" target="_blank">鲁ICP备14009006号</a>
        Copyright &copy;2014
        <a href="http://aicode.cc" target="_blank">AiCode</a>
    </div>
</div>
<!-- Ink 脚本库 -->
<script type="text/javascript" src="Public/ink/js/holder.js"></script>
<script type="text/javascript" src="Public/ink/js/ink.min.js"></script>
<script type="text/javascript" src="Public/ink/js/ink-ui.min.js"></script>
<script type="text/javascript" src="Public/ink/js/autoload.js"></script>
<script type="text/javascript" src="Public/underscore-1.4.4.js" ></script>
</body>
</html>