		</div>
	
	</div>
	<footer class="footer"  id="footer">
		<c:func func="Blog.footer_nav()" />
		<p class="title">Copyright &copy;2014 <a href="http://blog.aicode.cc" target="_blank">AiCode</a></p>
	</footer>
	<!-- Ink 脚本库 -->
	<script type="text/javascript" src="Public/ink/js/holder.js"></script>
	<script type="text/javascript" src="Public/ink/js/ink.min.js"></script>
	<script type="text/javascript" src="Public/ink/js/ink-ui.min.js"></script>
	<script type="text/javascript" src="Public/ink/js/autoload.js"></script>
	<c:set var="resource_path" value="Blog.resource_path()" />
    <script type="text/javascript" src="Public/underscore-1.4.4.js" ></script>
    <script type="text/javascript" src="${resource_path}js/common.js" ></script>
    <script type="text/javascript" src="${resource_path}js/page/ink.js" ></script>
    <script type="text/javascript" src="${resource_path}js/page/home.js" ></script>
	<script type="text/javascript" src="${resource_path}js/run.js" ></script>
</body>
</html>